<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <th:block th:replace="~{/../fragments/head :: head('Cadastrar Loja')}"></th:block>
    <body>
        <th:block th:replace="~{/../fragments/head :: header}"></th:block>
        <div class="container">
        <h5 class="subtitle">Edição de loja:</h5>
        <form action="#" th:action="@{/loja/save}" th:object="${loja}" method="POST">
            <input type="hidden" th:field="*{pk_loja}" />

            <div class="form-group row">
                <label for="pk_loja" class="col-sm-2 col-form-label">Número da loja:</label>
                <div class="col-sm-10">
                    <input type="number" th:field="*{pk_loja}" th:errorclass="is-invalid" id="pk_loja" class="form-control" required oninvalid="this.setCustomValidity('Por favor, informe o número da loja')" oninput="this.setCustomValidity('')" placeholder="Digite o número da loja">
                    <p th:if="${#fields.hasErrors('pk_loja')}" th:errorclass="text-danger" class="invalid-feedback" th:errors="*{pk_loja}" />
                </div>
            </div>

            <div class="form-group row">
                <label for="cnpj" class="col-sm-2 col-form-label">CNPJ:</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{cnpj}" id="cnpj" class="form-control" placeholder="Digite o CNPJ da loja">
                    <p th:if="${#fields.hasErrors('cnpj')}" th:errorclass="text-danger" th:errors="*{cnpj}" />
                </div>
            </div>

            <div class="form-group row">
                <label for="gerente" class="col-sm-2 col-form-label">Gerente:</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{gerente}" id="gerente" class="form-control" placeholder="Digite o nome do gerente">
                    <p th:if="${#fields.hasErrors('gerente')}" th:errorclass="text-danger" th:errors="*{gerente}" />
                </div>
            </div>

            <div class="form-group row">
                <label for="cidade" class="col-sm-2 col-form-label">Cidade:</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{cidade}" id="cidade" class="form-control" placeholder="Digite a cidade da loja">
                    <p th:if="${#fields.hasErrors('cidade')}" th:errorclass="text-danger" th:errors="*{cidade}" />
                </div>
            </div>

            <div class="form-group row">
                <label for="telefone" class="col-sm-2 col-form-label">Telefone:</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{telefone}" id="telefone" class="form-control" placeholder="Digite o telefone da loja">
                    <p th:if="${#fields.hasErrors('telefone')}" th:errorclass="text-danger" th:errors="*{telefone}" />
                </div>
            </div>
            
            <button type="submit" class="btn btn-primary btnAtualizar">Atualizar loja</button>
            <a th:href="@{/loja}" class="btn btn-secondary">Retornar para lista de lojas</a> </form>
    </div>
    <th:block th:replace="~{/../fragments/footer :: footer}"></th:block>
</body>
</html>