<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/../fragments/head :: head('Lista de envios de equipamentos')}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <div th:replace="~{/../fragments/head :: header}"></div>
<br>
<br>
<br>
    <div class="container-fluid ps-3 pe-3">
        <div class="d-flex d-flex align-items-start mb-4">
            <a th:href="@{/envioAtual/create}" class="btn btn-primary">
                ➕ Inserir envio de equipamento
            </a>
        </div>
        
        <div class="table-scroll">
        <div class="custom-table-wrapper table-responsive table-sm">
            <table class="data-table table-hover table-bordered align-middle text-center">
                <thead class="table-light sticky-top">
                    <tr>
                        <th>Nº de envio</th>
                        <th>Nº de série</th>
                        <th>Placa</th>
                        <th>Tipo</th>
                        <th>Modelo</th>
                        <th>Loja de origem</th>
                        <th>Loja de destino</th>
                        <th>Motivo de envio</th>
                        <th>Data de envio</th>
                        <th>Usuário de envio</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="envioAtual : ${enviosList}"> 
                        <td th:text="${envioAtual.pk_envio}"></td>
                        <td th:text="${envioAtual.equipamento.pk_num_serie}"></td> 
                        <td th:text="${envioAtual.equipamento.placa}"></td> 
                        <td th:text="${envioAtual.equipamento.tipo}"></td> 
                        <td th:text="${envioAtual.equipamento.modelo}"></td> 
                        <td th:text="${envioAtual.lojaOrigem?.pk_loja}" th:title="${envioAtual.lojaOrigem?.cidade}"></td> 
                        <td th:text="${envioAtual.lojaDestino.pk_loja}" th:title="${envioAtual.lojaDestino.cidade}"></td> 
                        <td th:text="${envioAtual.motivo}"></td>
                        <td th:text="${envioAtual.data_envio}"></td>
                        <td th:text="${envioAtual.usuario_envio}"></td>
                        <td>
                            <div class="btn-group" role="group">
                                <a th:href="@{/envioAtual/edit/{id}(id=${envioAtual.pk_envio})}"
                                   class="btn btn-sm btn-warning">✏️ Editar</a>
                                <a sec:authorize="hasAuthority('Admin')" th:href="@{/envioAtual/delete/{id}(id=${envioAtual.pk_envio})}"
                                   class="btn btn-sm btn-danger" onclick="return confirm('Tem certeza que deseja deletar o envio ${envioAtual.pk_envio} do equipamento ${envioAtual.equipamento?.pk_num_serie}?')">🗑️ Deletar</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>
</body>
</html>