footer {
    visibility: hidden;
    position: fixed;
    bottom: 0;
    width: 0%;
    height: 0px;
    background-color: #6ace86;
}

.navbar {
    background-color:  #52b16d!important;
    transition: background-color 0.3s ease;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15); /* sombra leve */
}

.navbar-toggler {
    border: white;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

table {
    font-size: 12px;
    font-weight: 500;
    background-color: #f8f3f3 !important;
}

table td, table th {
    padding: 5px !important;
    text-align: center !important;
}

table th {
    background-color:  #83f7a4 !important;
    font-weight: bold;
    text-align: center !important;
}

body {
    background-color: #6ace86;
}

.nav-link {
    color: rgb(255, 255, 255);
    font-weight: 400;
}

.nav-link:hover {
    color: rgb(0, 0, 0);
    background-color: white;
    opacity: 0.7;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    border-radius: 4px;
}

.custom-table-wrapper {
    overflow-x: hidden;
    overflow-y: hidden;
    border-radius: 5px;
    border: 0px solid #ddd;
}

.custom-table-wrapper thead th {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 1;
}

body {
    overflow-y: hidden;
}

.container {
    margin-top: 90px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 85vh;
}

.d-flex {
    gap: 10px;
}

.btn-primary {
    background-color: #6e6bf0 !important;
    border-color: #6e6bf0;
    color: #fff;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out; /* transição suave */
}

.btn-primary:hover {
    background-color: #5c5ae2 !important;
    border-color: #5c5ae2;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15); /* sombra leve */
}

.btn-success {
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out; /* transição suave */
}

.btn-warning {
    background-color: #FFD54F !important;
    border-color: #FFD54F;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out; /* transição suave */
}

.btn-warning:hover {
    background-color: #FFCA28 !important;
    border-color: #FFCA28;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15); /* sombra leve */
}

.btn-danger {
    background-color: #EF9A9A !important;
    border-color: #EF9A9A;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out; /* transição suave */
}

.btn-danger:hover {
    background-color: #E57373 !important;
    border-color:  #E57373; 
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15); /* sombra leve */
}

img {
    max-width: 100%;
    max-height: 30px;
}

.text-danger {
    color: #ffffff !important;
}

.dataTables_filter input {
    width: 300px;
    display: inline-block;
    margin-inline-start: 10px;
}

.dataTables_filter {
    text-align: right;
}

.data-table {
    border-radius: 4px; 
    overflow: hidden; 
}

.input-icon-container {
    position: relative;
}

.camera-icon {
    margin-top: -30px;
    right: 13px;
    position: absolute;
    cursor: pointer;
    z-index: 10;
    vertical-align: middle;
    color: #007bff;
    transition: 0.2s;
}

#scanner-area {
    display: none;
    margin-top: 10px;
    height: 254px;
    border: 2px dashed #ccc;
    border-radius: 4px;
    margin-top: 10px;
  }

  #scanner-area2 {
    display: none;
    margin-top: 10px;
    height: 254px;
    border: 2px dashed #ccc;
    border-radius: 4px;
    margin-top: 10px;
  }
  
  #interactive video {
    width: 100%;
    height: 250px;
    border-radius: 4px;
    object-fit: cover;
  }

  #interactive2 video {
    width: 100%;
    height: 250px;
    border-radius: 4px;
    object-fit: cover;
  }
  
  .camera-icon:hover {
    color: #0056b3;
  }
  
  .subtitle {
    text-align: left;
    margin-bottom: 20px;
  }