<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <th:block th:replace="~{/../fragments/head :: head('Cadastrar impressora não fiscal')}"></th:block>
    <body>
        <th:block th:replace="~{/../fragments/head :: header}"></th:block>
        <div class="container">
        <h1>Cadastrar impressora não fiscal</h1>
        <form action="#" class="formCadastrar" th:action="@{/impressoraNaoFiscal/save}" th:object="${impressoraNaoFiscal}" method="POST">
            <!-- Campo necessário para que o save saiba que não estamos criando, mas editando um produto -->
            <input type="hidden" th:field="*{pk_impressora}" />

            <div class="form-group row">
                <label for="fk_num_serie" class="col-sm-2 col-form-label">Número de série:</label>
                <div class="col-sm-10">
                    <input type="text" ith:field="*{equipamento.pk_num_serie}" th:field="*{equipamento.pk_num_serie}" th:errorclass="is-invalid" id="fk_num_serie" class="form-control" name="fk_num_serie" required oninvalid="this.setCustomValidity('Por favor, informe o número de série da impressora não fiscal')" oninput="this.setCustomValidity('')" placeholder="Digite o número de série da impressora não fiscal">
                    <p th:if="${#fields.hasErrors('equipamento.pk_num_serie')}" th:errorclass="text-danger" class="invalid-feedback" th:errors="*{equipamento.pk_num_serie}" />
                </div>
            </div>
            <div class="form-group row">
                <label for="placa" class="col-sm-2 col-form-label">Placa:</label>
                <div class="col-sm-10">
                    <input type="text" ith:field="*{equipamento.placa}" th:field="*{equipamento.placa}" th:errorclass="is-invalid" id="placa" class="form-control" name="placa" required oninvalid="this.setCustomValidity('Por favor, informe a placa da impressora não fiscal')" oninput="this.setCustomValidity('')" placeholder="Digite a placa da impressora não fiscal">
                    <p th:if="${#fields.hasErrors('equipamento.placa')}" th:errorclass="text-danger" class="invalid-feedback" th:errors="*{equipamento.placa}" />
                </div>
            </div>
            <div class="form-group row">
                <label for="tipo" class="col-sm-2 col-form-label">Tipo:</label>
                <div class="col-sm-10">
                    <input type="text" ith:field="*{equipamento.tipo}" th:field="*{equipamento.tipo}" th:errorclass="is-invalid" id="tipo" class="form-control" name="tipo" required oninvalid="this.setCustomValidity('Por favor, informe o tipo da impressora não fiscal')" oninput="this.setCustomValidity('')" placeholder="Digite o tipo da impressora não fiscal">
                    <p th:if="${#fields.hasErrors('equipamento.tipo')}" th:errorclass="text-danger" class="invalid-feedback" th:errors="*{equipamento.tipo}" />
                </div>
            </div>
            <div class="form-group row">
                <label for="modelo" class="col-sm-2 col-form-label">Modelo:</label>
                <div class="col-sm-10">
                    <input type="text" ith:field="*{equipamento.modelo}" th:field="*{equipamento.modelo}" th:errorclass="is-invalid" id="modelo" class="form-control" name="modelo" required oninvalid="this.setCustomValidity('Por favor, informe o modelo da impressora não fiscal')" oninput="this.setCustomValidity('')" placeholder="Digite o modelo da impressora não fiscal">
                    <p th:if="${#fields.hasErrors('equipamento.modelo')}" th:errorclass="text-danger" class="invalid-feedback" th:errors="*{equipamento.modelo}" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="data_revisao">Revisão recente:</label>
                <div class="col-sm-10">
                    <select th:field="*{data_revisao}" class="form-control" id="data_revisao" name="data_revisao">
                        <option value="">Selecione 'Sim' ou 'Não' para revisão recente de impressora não fiscal</option>
                        <option value="Sim">Sim</option>
                        <option value="Não">Não</option>
                    </select>
                    <p th:if="${#fields.hasErrors('data_revisao')}" th:errorclass="text-danger" th:errors="*{data_revisao}" />
                </div>
            </div>
            <div class="form-group row">
                <label for="motivo_revisao" class="col-sm-2 col-form-label">Motivo de revisão:</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{motivo_revisao}" class="form-control" id="motivo_revisao" name="data_revisao" placeholder="Digite 'Sim' ou 'Não' sobre a revisão recente de impressora não fiscal"/>
                    <p th:if="${#fields.hasErrors('motivo_revisao')}" th:errorclass="text-danger" th:errors="*{motivo_revisao}" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="enviado">Enviado:</label>
                <div class="col-sm-10">
                    <select th:field="*{equipamento.enviado}" class="form-control" id="enviado" name="enviado">
                        <option value="">Selecione 'Não' para indicar que impressora fiscal está de reserva</option>
                        <option value="Sim">Sim</option>
                        <option value="Não">Não</option>
                    </select>
                    <p th:if="${#fields.hasErrors('equipamento.enviado')}" th:errorclass="text-danger" th:errors="*{equipamento.enviado}" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="localizacao_atual">Última localização:</label>
                <div class="col-sm-10">
                    <input type="number" th:field="*{equipamento.localizacao_atual}" class="form-control" th:errorclass="is-invalid" id="localizacao_atual" name="localizacao_atual" required oninvalid="this.setCustomValidity('Por favor, informe a ultima localização da impressora não fiscal')" oninput="this.setCustomValidity('')" placeholder="Digite a última localização da impressora não fiscal">
                    <p th:if="${#fields.hasErrors('equipamento.localizacao_atual')}" th:errorclass="text-danger" class="invalid-feedback" th:errors="*{equipamento.localizacao_atual}" />
                </div>
            </div>
            
            <button type="submit" class="btn btn-primary btnCadastrar">Cadastrar impressora não fiscal</button>
            <a th:href="@{/loja}" class="btn btn-secondary">Retornar para lista de impressoras não fiscais</a> </form>
        </form>
    </div>
    <th:block th:replace="~{/../fragments/footer :: footer}"></th:block>
</body>
</html>