<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <th:block th:replace="~{/../fragments/head :: head('Atualizar impressora não fiscal')}"></th:block>
    <body>
        <th:block th:replace="~{/../fragments/head :: header}"></th:block>
        <div class="container">
        <h5 class="subtitle">Edição de impressora não fiscal:</h5>
        <form action="#" class="formAtualizar" th:action="@{/impressoraNaoFiscal/save}" th:object="${impressoraNaoFiscal}" method="POST">
            <!-- Campo necessário para que o save saiba que não estamos criando, mas editando um produto -->
            <input type="hidden" th:field="*{pk_impressora}" />

            <div class="form-group row">
                <label for="fk_num_serie" class="col-sm-2 col-form-label">Número de série:</label>
                <div class="col-sm-10">
                    <div class="input-icon-container">
                        <input type="text" ith:field="*{equipamento.pk_num_serie}" th:field="*{equipamento.pk_num_serie}" th:errorclass="is-invalid" id="fk_num_serie" list="listaNumeroSeries" class="form-control" name="fk_num_serie" required oninvalid="this.setCustomValidity('Por favor, informe o número de série da impressora não fiscal')" oninput="this.setCustomValidity('')" placeholder="Digite, bipe ou escaneie o número de série da impressora não fiscal">
                        <p th:if="${#fields.hasErrors('equipamento.pk_num_serie')}" th:errorclass="text-danger" class="invalid-feedback" th:errors="*{equipamento.pk_num_serie}" />
                        <span id="cameraIconSerie" class="camera-icon" title="Escanear código de barras do número de série">📷</span>
                    </div>
                    <datalist id="listaNumeroSeries">
                        <option th:each="equip : ${equipamentos}"
                                th:value="${equip.pk_num_serie}"
                                th:text="${equip.pk_num_serie}">
                        </option>
                    </datalist>
                    <div id="scanner-area">
                        <div id="interactive"></div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="placa" class="col-sm-2 col-form-label">Placa patrimonial:</label>
                <div class="col-sm-10">
                    <div class="input-icon-container">
                        <input type="text" ith:field="*{equipamento.placa}" th:field="*{equipamento.placa}" th:errorclass="is-invalid" id="placa" list="listaPlacas" class="form-control" name="placa" required oninvalid="this.setCustomValidity('Por favor, informe a placa patrimonial da impressora não fiscal')" oninput="this.setCustomValidity('')" placeholder="Digite, bipe ou escaneie a placa de patrimônio">
                        <p th:if="${#fields.hasErrors('equipamento.placa')}" th:errorclass="text-danger" class="invalid-feedback" th:errors="*{equipamento.placa}" />
                        <span id="cameraIconPlaca" class="camera-icon" title="Escanear código de barras da placa de patrimônio">📷</span>
                    </div>
                    <datalist id="listaPlacas">
                        <option th:each="equip : ${equipamentos}"
                                th:value="${equip.placa}"
                                th:text="${equip.placa}">
                        </option>
                    </datalist>
                    <div id="scanner-area2">
                        <div id="interactive2"></div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="tipo" class="col-sm-2 col-form-label">Tipo:</label>
                <div class="col-sm-10">
                    <input type="text" ith:field="*{equipamento.tipo}" th:field="*{equipamento.tipo}" th:errorclass="is-invalid" id="tipo" list="listaTipos" class="form-control" name="tipo" required oninvalid="this.setCustomValidity('Por favor, informe o tipo da impressora não fiscal')" oninput="this.setCustomValidity('')" placeholder="Digite o tipo do impressora não fiscal">
                    <datalist id="listaTipos">
                        <option th:each="equip : ${equipamentos}"
                                th:value="${equip.tipo}"
                                th:text="${equip.tipo}">
                        </option>
                    </datalist>
                    <p th:if="${#fields.hasErrors('equipamento.tipo')}" th:errorclass="text-danger" class="invalid-feedback" th:errors="*{equipamento.tipo}" />
                </div>
            </div>

            <div class="form-group row">
                <label for="modelo" class="col-sm-2 col-form-label">Modelo:</label>
                <div class="col-sm-10">
                    <input type="text" ith:field="*{equipamento.modelo}" th:field="*{equipamento.modelo}" th:errorclass="is-invalid" id="modelo" list="listaModelos" class="form-control" name="modelo" required oninvalid="this.setCustomValidity('Por favor, informe o modelo da impressora não fiscal')" oninput="this.setCustomValidity('')" placeholder="Digite o modelo da impressora não fiscal">
                    <datalist id="listaModelos">
                        <option th:each="equip : ${equipamentos}"
                                th:value="${equip.modelo}"
                                th:text="${equip.modelo}">
                        </option>
                    </datalist>
                    <p th:if="${#fields.hasErrors('equipamento.modelo')}" th:errorclass="text-danger" class="invalid-feedback" th:errors="*{equipamento.modelo}" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="data_revisao">Revisão recente:</label>
                <div class="col-sm-10">
                    <select th:field="*{revisao_recente}" class="form-control" id="revisao_recente" name="revisao_recente">
                        <option value="">Selecione 'Sim' ou 'Não' para revisão recente da impressora não fiscal</option>
                        <option value="Sim">Sim</option>
                        <option value="Não">Não</option>
                    </select>
                    <p th:if="${#fields.hasErrors('revisao_recente')}" th:errorclass="text-danger" th:errors="*{revisao_recente}" />
                </div>
            </div>
            <div class="form-group row">
                <label for="data_revisao" class="col-sm-2 col-form-label">Data de revisão:</label>
                <div class="col-sm-10">
                    <input type="date" th:field="*{data_revisao}" class="form-control" id="data_revisao" name="data_revisao" placeholder="Digite a data de revisão de impressora não fiscal">
                    <datalist id="listadataRevisoes">
                        <option th:each="equip : ${equipamentos}"
                                th:value="${equip.modelo}"
                                th:text="${equip.modelo}">
                        </option>
                    </datalist>
                    <p th:if="${#fields.hasErrors('data_revisao')}" th:errorclass="text-danger" th:errors="*{data_revisao}" />
                </div>
            </div>
            <div class="form-group row">
                <label for="motivo_revisao" class="col-sm-2 col-form-label">Motivo de revisão:</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{motivo_revisao}" class="form-control" id="motivo_revisao" list="listaDataRevisoes" name="motivo_revisao" placeholder="Digite o motivo de revisão da impressora não fiscal"/>
                    <datalist id="listaDataRevisoes">
                        <option th:each="impr : ${impressoras}"
                                th:value="${impr.data_revisao}"
                                th:text="${impr.data_revisao}">
                        </option>
                    </datalist>
                    <p th:if="${#fields.hasErrors('motivo_revisao')}" th:errorclass="text-danger" th:errors="*{motivo_revisao}" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="enviado">Enviado:</label>
                <div class="col-sm-10">
                    <select th:field="*{equipamento.enviado}" class="form-control" id="enviado" name="enviado">
                        <option value="">Selecione 'Não' para indicar que impressora fiscal está de reserva</option>
                        <option value="Sim">Sim</option>
                        <option value="Não">Não</option>
                    </select>
                    <p th:if="${#fields.hasErrors('equipamento.enviado')}" th:errorclass="text-danger" th:errors="*{equipamento.enviado}" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="localizacao_atual">Última localização:</label>
                <div class="col-sm-10">
                    <input type="number" th:field="*{equipamento.localizacao_atual}" class="form-control" th:errorclass="is-invalid" id="localizacao_atual" list="listaLocalizacoesAtual" name="localizacao_atual" required oninvalid="this.setCustomValidity('Por favor, informe a ultima localização da impressora não fiscal')" oninput="this.setCustomValidity('')" placeholder="Digite a última localização da impressora não fiscal">
                    <datalist id="listaLocalizacoesAtual">
                        <option th:each="lj : ${lojas}"
                                th:value="${lj.pk_loja}"
                                th:text="${lj.pk_loja}">
                        </option>
                    </datalist>
                    <p th:if="${#fields.hasErrors('equipamento.localizacao_atual')}" th:errorclass="text-danger" class="invalid-feedback" th:errors="*{equipamento.localizacao_atual}" />
                </div>
            </div>

            <button type="submit" class="btn btn-primary btnAtualizar"> Atualizar impressora não fiscal</button>
            <a th:href="@{/impressoraNaoFiscal}" class="btn btn-secondary">Retornar para lista de impressoras não fiscais</a> </form>
        </form>
    </div>
    <th:block th:replace="~{/../fragments/footer :: footer}"></th:block>
</body>
</html>